/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";
@use 'devicon/devicon.min.css';

:root {
  font-display: swap;
}
